.loading-div {
    width: 12vh;
    height: 12vh;
    margin: 42.5vh auto;
}

.circle-outer {
    width: 100%;
    height: 100%;
    background: yellow;
    border-radius: 50%;
    background: -webkit-linear-gradient(left, #2ba1de, white);
    background: -o-linear-gradient(left, #2ba1de, white);
    background: -moz-linear-gradient(left, #2ba1de, white);
    background: linear-gradient(left, #2ba1de, white);
    -webkit-animation: loading-animate 2s linear infinite;
    -webkit-transform-origin: center center;
}

@-webkit-keyframes loading-animate /* Safari and Chrome */
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.circle-inner {
    margin: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: white;
}

@-webkit-keyframes loading-animate /* Safari and Chrome */
{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.circle-small {
    position: fixed;
    left: 47.5vw;
    top: 50vh;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background: radial-gradient(circle at 5vw 5vw, #8fc31f, white);
    background: -webkit-radial-gradient(circle at 5vw 5vw, #8fc31f, white);
    z-index: 100;
    animation: loading-small-animate 2s linear infinite 1s;
    -webkit-animation: loading-small-animate 2s linear infinite 1s;
}

@-webkit-keyframes loading-small-animate /* Safari and Chrome */
{
    0% {
        top: 50vh
    }
    5% {
        top: 50vh
    }
    20% {
        top: 46vh
    }
    30% {
        top: 50vh
    }
    40% {
        top: 48vh
    }
    50% {
        top: 50vh
    }
    60% {
        top: 49vh
    }
    70% {
        top: 50vh
    }
    100% {
        top: 50vh
    }
}

.vertical-screen {
    display: none;
    position: fixed;
    text-align: left;
    z-index: 2011;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
    background-color: rgb(0, 0, 0);
    filter: alpha(opacity=60);
    background-color: rgba(0, 0, 0, 0.6);
}

.vertical-screen img {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    background-color: #fff;
    width: 2.79rem;
    border-radius: 3px;
    -webkit-user-select: none;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .2s;
    transition: .2s;
    background: url("../../assets/img/vertical-screen.png");
    height: 2.82rem;
    background-size: 100% 100%;
}